.rotate-in-center {
    -webkit-animation: rotate-in-center 2s linear 1s infinite both;
    animation: rotate-in-center 2s linear 1s infinite both;
}

@-webkit-keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        /* opacity: 0; */
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        /* opacity: 1; */
    }
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        /* opacity: 0; */
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        /* opacity: 1; */
    }
}


.rotate-in-ver {
    -webkit-animation: rotate-in-ver 4s ease-in-out  3s infinite both;
    animation: rotate-in-ver 4s ease-in-out  3s infinite both;
}

@-webkit-keyframes rotate-in-ver {
    0% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        /* opacity: 0; */
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        /* opacity: 1; */
    }
}

@keyframes rotate-in-ver {
    0% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        /* opacity: 0; */
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        /* opacity: 1; */
    }
}


.rotate1,
.rotate2 {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.rotate2 {
    animation-duration: 2s;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 3s linear 2s infinite alternate-reverse both;
	        animation: slide-in-fwd-center 3s linear 2s infinite alternate-reverse both;
}

 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      /* opacity: 0; */
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      /* opacity: 1; */
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      /* opacity: 0; */
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      /* opacity: 1; */
    }
  }


  .bounce-in-top {
	-webkit-animation: bounce-in-top 1.75s ease-in-out 3s infinite alternate both;
    animation: bounce-in-top 1.75s ease-in-out 3s infinite alternate both;
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      /* opacity: 0; */
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      /* opacity: 1; */
    }
    55% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      /* opacity: 0; */
    }
    14% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      /* opacity: 1; */
    }
    28% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    42% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    56% {
      -webkit-transform: translateY(-0px);
              transform: translateY(-0px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    85% {
      -webkit-transform: translateY(-0px);
              transform: translateY(-0px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  