



body {
  background-color: #667;
}


/* Slider wrapper with max size */
.article-wrapper {
  max-width: 600px;      
  max-height: 800px;     
  width: 100%;          
  height: auto;        
  margin: 0 auto;       
}

/* Slider container */
/* .my-slider-1,
.my-slider-2 { */
.slider1,
.slider2 {
  width: 100%;
  height: 100%;
}

/* Each slide takes full width and height */
.slider1 .my-article,
.slider2 .my-article {
  background-color: #ddd; 
  /* border-radius: 32px; */
}