* {
    /* outline: 1px solid red; */

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;

    --color-01: #C0E8F9;
    --color-02: #FFE548;
    --color-03: #FF9B71;
    --color-04: #6C698D;
    --color-05: #14424C;
}

body {
    margin: 0 auto;
    /* overflow-x: hidden; */
}

h1,
h2,
h4 {
    font-family: Sarpanch, sans-serif;
    color: var(--color-05);
}

h1 {
    font-size: max(3rem, 3.9548cqw);
    line-height: 1;
    font-weight: 800;
    letter-spacing: .12em;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    font-size: max(2rem, 2.82486cqw);
    font-size: max(2rem, 3.10559cqw);
    font-size: max(2rem, 2.97619cqw);
    font-weight: 800;
    letter-spacing: .16em;
    text-transform: uppercase;
}

h4 {
    font-size: max(.875rem, 1.12994cqw);
    font-weight: 700;
}

p {
    font-family: Jost, sans-serif;
}

.my-img-fluid {
    width: 100%;
    height: auto;
}

.row {
    margin-inline: 0px;
}

/* ******* BACKGROUNDS ******* */
.bckg-blue-1 {
    background-image: url(./img/background-blue.png);
    block-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.bckg-yellow-1 {
    background-image: url(./img/background-yellow.png);
    block-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
}

.bckg-blueyellow {
    background: url(./img/background-blue-doubled.png) no-repeat center 20%,
        url(./img/background-yellow-flipped.png) no-repeat center 120%;
    block-size: 100%;
    margin: 0 auto;
}

/* ******* VIDEO ******* */
.video-wrapper {
    position: relative;
}

.play-button {
    position: absolute;
    width: 10.298%;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.play-button[class*="vh"] {
    width: 20%;
}

/* ******* SECTIONS ******* */
.content-width {
    outline: 3px dotted blue;
    width: clamp(320px, 100%, 1440px);
    padding: 0;
    container: content-width-anchor / inline-size;
}

.bubble-wrapper {
    position: relative;
    container-type: inline-size;
}

.bubble-wrapper p {
    position: absolute;
    text-decoration: underline;
}

/* ******* SECTION-1 ******* */
.section-1 {
    margin: 0 auto 50px auto;
}

.section-1 .row.header {
    align-items: center;
}

.section-1 .img-wrapper {
    width: min(231px, 68.75%);
    display: inline-block;
}

/* ******* HEADER */
.box-0 {
    width: 100%;
    container-type: inline-size;
}

.box-0 >* {
    display: inline-block;
}

.header-wrapper .text-wrapper {
    /* text-align: center;
    margin-left: 30px;
    margin-left: 30px; */
}

.header-wrapper .text-wrapper>* {
    text-align: left;
}

/* .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
} */

/* ******* SUBSECTION-1 */

/* ******* BOX-1 */
.subsection-1 .box-1 {
    width: 83.36%;
    margin: 11% 3.4% auto auto;
}

.subsection-1 .box-1 .bubble-wrapper p {
    inset: 41% 11% auto auto;
    text-align: right;
    font-size: min(5.5156cqw, 32px);
    line-height: 7.5cqw;
}

/* ******* BOX-2 */
.subsection-1 .box-2 {
    width: 77.16%;
    margin: 0% auto auto 4.5%;
}

/* ******* BOX-3 */
.subsection-1 .box-3 {
    width: 86.831%;
    margin: 0 0 0 auto;
}

/* ******* BOX-4 */
.subsection-1 .box-4 {
    width: 72.215%;
    margin: 19% auto auto 7.5%;
}

.subsection-1 .box-4 .bubble-wrapper {
    width: 95.192%;
    margin-bottom: 12%;
}

.subsection-1 .box-4 .bubble-wrapper p {
    inset: 12% 16% auto auto;
    text-align: left;
    font-size: min(6.68844cqw, 32px);
    line-height: 8.75cqw;
}

/* ******* SECTION-2 ******* */
.section-2 {
    position: relative;
    margin: auto auto 125px auto;
}

.section-2 .row:first-child {
    /* margin-top: 30px; */
}

.section-2 .row:last-child {
    /* margin-top: 100px; */
}

.section-2 h2 {
    text-align: center;
    font-size: max(2rem, 2.77778cqw);
}

.section-2 p {
    font-size: max(1rem, 1.41243cqw);
    text-align: center;
}

.section-2 .box-1,
.section-2 .box-2 {
    width: min(100%, 777px);
    margin: 0 auto;
}

/* ******* BOX-2 */
.section-2 .box-2 .video-wrapper video {
    max-width: 100%;
}

/* ******* BOX-3 */
.section-2 .box-3 {
    position: relative;
    max-width: 515px;
}

.section-2 .box-3 .img-wrapper {
    max-width: 499px;
    margin-bottom: 23%;
}

.section-2 .box-3 .bubble-wrapper {
    width: min(92.2335%, 475px);
}

.section-2 .box-3 .bubble-wrapper p {
    font-size: min(6.69828cqw, 32px);
    position: absolute;
    inset: 11% 13% auto 10%;
    margin: 0;
}

/* ******* BOX-4 */
.section-2 .box-4 {
    position: relative;
    /* width: 96.155%; */
    max-width: 600px;
}

/* ******* SECTION-3 ******* */
.section-3 .text-wrapper h2 {
    text-transform: none;
}

.section-3 .details.download {
    width: 10%;
}

.section-3 .box-video {
    /* width: 272px; */
    width: min(87.2%, 272px);
}

.section-3 .video-wrapper {
    width: 100%;
}

.section-3 .box-text { 
    width: 100%;
    container-type: inline-size;
}

.section-3 .box-text p { 
    font-size: clamp(16px, 6.41025cqw, 20px);
}

.section-3 .quiz-wrapper {
    background-color: var(--color-04);
    border-radius: 32px;
}

.section-3 .quiz-wrapper h2 {
    color: #fff;
}

.section-3 .quiz-wrapper button {
    /* inset: auto auto 50px auto; */
    padding: 20px 30px;
    padding: 1.546% 2.333%;
    margin-bottom: 50px;
    font-family: Sarpanch, sans-serif;
    font-size: max(1rem, 2.97619cqw);
    font-weight: 800;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: var(--color-05);
    border: 0 none;
    border-radius: 32px;
    border-radius: 2.2cqw;
    background-color: var(--color-03);
}

.section-3 .quiz-container .img-left{
    /* width: 251px; */
    width: clamp(200px, 19.488cqw, 251px);
}



/* ******* ANIMATED DETAILS ******* */
.details {
    /* position: absolute; */
}

.section-1 .details.bitcoins {
    position: relative;
    width: 100%;
    margin: -5% auto 0 auto;
    padding-right: 11%;
}

.section-1 .details.bitcoins img {
    vertical-align: unset;
}

.section-1 .details .bitcoin-1 {
    /* width: 38px; */
    width: 10%;
    transform: rotate(-12deg);
    margin: 0 0 0 7%;
}

.section-1 .details .bitcoin-2 {
    /* width: 60px; */
    width: 16%;
    transform: rotate(75deg);
    margin: 0 0 2% 16%;
}

.section-1 .details .bitcoin-3 {
    /* width: 83px; */
    width: 20%;
    transform: rotate(0deg);
    margin: 0 0 7% 13%;
}

/* * */

.section-2 .box-3 .details.warning {
    /* position: absolute; */
    /* width: 80px; */
width: min(37.471%, 80px);
    inset: auto auto 0% 23%;
}

.section-2 .box-3 .details.spinner {
    /* position: absolute; */
    /* width: 80px; */
width: min(37.471%, 80px);
    inset: auto 8% -13% auto;
}

.section-2 .box-4 .details.close {
    /* width: 60px; */
    width: 9.93%;
    inset: -24% 9% auto auto;
}

.section-3 .details.download {
    display: inline-block;
    position: relative;
    /* width: 56px; */
    width: clamp(44px, 12.373%, 56px);
    inset: auto;
}

/* ******* HELPER classes - delete ******* */
.section-3 .container-fluid {
    /* border: 5px dotted red; */
}

.section-3 .row {
    /* outline: 3px solid green; */
    
}

.section-3 [class*="col-"] {
    /* outline: 3px solid blue; */
}

.section-3 [class*="box"],
.section-3 .box-3>* {
    /* outline: 2px dotted gray; */
}

/* ************************************** */